In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
pd.__version__

'1.4.4'

In [20]:
parquet_file = 'yellow_tripdata_2023-01.parquet'
df1 = pd.read_parquet(parquet_file, engine='auto')

In [21]:
df1.to_csv("yellow_tripdata_2023.csv",index=False)

In [23]:
df = pd.read_csv('yellow_tripdata_2023.csv', nrows=100)

In [24]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [25]:
df.shape

(100, 19)

In [29]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [28]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [32]:
df_iter = pd.read_csv('yellow_tripdata_2023.csv', iterator=True, chunksize=100000)

In [33]:
df_iter

In [34]:
df = next(df_iter)

In [36]:
len(df)

100000

In [37]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [39]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists='replace')

0

In [40]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')

Wall time: 30.3 s

1000

In [41]:
from time import time

In [42]:
while True:
    
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')
    
    t_end = time()
    
    print(f"Ingesting chuck into postgresql, it took {t_start - t_end} seconds")

Ingesting chuck into postgresql, it took -28.15162754058838 seconds
Ingesting chuck into postgresql, it took -25.23159146308899 seconds
Ingesting chuck into postgresql, it took -25.972105741500854 seconds
Ingesting chuck into postgresql, it took -28.261541843414307 seconds
Ingesting chuck into postgresql, it took -26.99035358428955 seconds
Ingesting chuck into postgresql, it took -29.327967166900635 seconds
Ingesting chuck into postgresql, it took -25.20108437538147 seconds
Ingesting chuck into postgresql, it took -27.680612325668335 seconds
Ingesting chuck into postgresql, it took -27.557398557662964 seconds
Ingesting chuck into postgresql, it took -28.214152812957764 seconds
Ingesting chuck into postgresql, it took -32.663068532943726 seconds
Ingesting chuck into postgresql, it took -28.028942823410034 seconds
Ingesting chuck into postgresql, it took -31.4369215965271 seconds
Ingesting chuck into postgresql, it took -26.761303186416626 seconds
Ingesting chuck into postgresql, it took -32.08704900741577 seconds
Ingesting chuck into postgresql, it took -25.35311508178711 seconds
Ingesting chuck into postgresql, it took -34.620705366134644 seconds
Ingesting chuck into postgresql, it took -24.63687539100647 seconds
Ingesting chuck into postgresql, it took -32.701937437057495 seconds
Ingesting chuck into postgresql, it took -41.032843828201294 seconds
Ingesting chuck into postgresql, it took -37.029186487197876 seconds
Ingesting chuck into postgresql, it took -38.204073429107666 seconds
Ingesting chuck into postgresql, it took -11.57392692565918 seconds
Ingesting chuck into postgresql, it took -10.173274040222168 seconds
Ingesting chuck into postgresql, it took -10.166096687316895 seconds
Ingesting chuck into postgresql, it took -10.086025714874268 seconds
Ingesting chuck into postgresql, it took -10.4092857837677 seconds
Ingesting chuck into postgresql, it took -10.850199222564697 seconds

C:\Users\ademo\AppData\Local\Temp\ipykernel_21252\763787326.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Ingesting chuck into postgresql, it took -10.476123332977295 seconds
Ingesting chuck into postgresql, it took -6.430019855499268 seconds

StopIteration:

In [3]:
!wget "https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv"

--2023-06-15 02:03:07--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.244.115.107, 18.244.115.220, 18.244.115.202, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.244.115.107|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100%  249K=0.05s

2023-06-15 02:03:09 (249 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [5]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
df_zones.head(n=0).to_sql(name="zones", con=engine, if_exists='replace')

0

In [9]:
df_zones.to_sql(name="zones", con=engine, if_exists='append')

265